.mat-card{
    padding: 10px;
    margin:2px;
}

.wt-it_city,.wt-it_desc,.wt-it_temp{
  margin:0;
  font-weight: normal;
}

.wt-it_city{
  float:left;
}
.wt-it_temp{
  float:right;
}

.wt-it_desc{
 clear:both; 
 text-align: left;
}

$icon-width: 50px;
$icon-height: 50px;
$icons: url('../../assets/images/weatherspritesheet.png');

.wt-sprite {
  background-image: $icons;
  width: $icon-width;
  height: $icon-height;
  float:right;
  margin-top:-11px;
}

.sprite-01d {
  background-position: -5px -5px;
}

.sprite-01n {
  background-position: -65px -5px;
}

.sprite-02d {
  background-position: -125px -5px;
}

.sprite-02n {
  background-position: -185px -5px;
}

.sprite-03d {
  background-position: -5px -65px;
}

.sprite-03n {
  background-position: -65px -65px;
}

.sprite-04d {
  background-position: -125px -65px;
}

.sprite-04n {
  background-position: -185px -65px;
}

.sprite-09d {
  background-position: -5px -125px;
}

.sprite-09n {
  background-position: -65px -125px;
}

.sprite-10d {
  background-position: -125px -125px;
}

.sprite-10n {
  background-position: -185px -125px;
}

.sprite-11d {
  background-position: -5px -185px;
}

.sprite-11n {
  background-position: -65px -185px;
}

.sprite-13d {
  background-position: -125px -185px;
}

.sprite-13n {
  background-position: -185px -185px;
}

.sprite-50d {
  background-position: -245px -5px;
}

.sprite-50n {
  background-position: -245px -65px;
}

