
<md-card>        
        <md-card-content>
       
                <h3 class = 'wt-it_city'>
                        <span>{{weatherInfo?.name}}</span>
                        <i [ngClass] = "['wt-sprite','sprite-'+weatherInfo?.weather[0].icon]"></i> 
                </h3>
                <h2 class = 'wt-it_temp'>{{weatherInfo?.main.temp | number:'1.0-0'}}<sup>o</sup></h2>
                <h5 class = 'wt-it_desc'>
                        {{weatherInfo?.weather[0].description}}
                </h5>
              
        </md-card-content>
</md-card>