<form [formGroup]="cityForm" class = 'cityForm'>
    <md-input-container>
        <input #search mdInput placeholder="Place" [mdAutocomplete]="auto" formControlName="cityname" >
      </md-input-container>
      
      <md-autocomplete #auto="mdAutocomplete" >
        <md-option (onSelectionChange)="selectPlace($event,city)"  *ngFor="let city of filteredPlaces | async" [value]="city.name">
          {{ city.name }}
        </md-option>
      </md-autocomplete>
      
      <button class = 'addbtn' [disabled] = "!cityForm.valid" md-raised-button (click) = 'addCity()'>Add</button>
</form>
 <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
 </agm-map>