
<div class = 'wt'>
    <div class = 'wt_list'>
            <app-my-weather-item [city] = "city" *ngFor="let city of cityList"></app-my-weather-item>
        <div>
        <div  class = 'wt_list_link'>
            <a routerLink="/newlocation">Add New Location</a>
        </div>
</div>

      
  